/*<?xml version="1.0" encoding="utf-8"?>*/

/**
 * Author: Oldrin Bărbulescu
 * Last modified: Nov 19, 2024
 **/

* {
  background-color: transparent;
  border: none;
  color: inherit;
  font: 100% Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap; 
}

body {
  background-color: #f5f7ff;
  color: #253780;
  padding: 10px;
}

noscript * {
  margin: auto;
  max-width: 600px;
}

div.main {
  display: none;
  text-align: center;
}

div.left,
div.right {
  display: inline-block;  
  vertical-align: top;
}

div.left {
  max-width: 251px;
  min-width: 251px;
}

div.right {
  margin-left: 10px;
  max-width: 70vw;
  min-width: 512px;
}

div.intro,
div.top,
div.middle > div.middle,
div.bottom > div.bottom,
div.info {
  margin-bottom: 10px;
}

div.top {
  font-size: 0;
}

div.top > div {
  display: inline-block;
  font-size: initial;
  width: 125px;
}

div.top > div:nth-child(2) {
  text-align: right;
}

div.bottom > div.bottom {
  padding-left: 12px;
}

div.control {
  background-color: #dae2ff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #aaa;
  color: inherit;
  max-width: 249px;
  min-width: 249px;
  padding-bottom: 5px;
  padding-top: 5px;
}

div.control > div {
  padding: 4px 5px 4px 11px;
}

div.hidden {
  margin-bottom: 10px;
}

div.canvas {
  box-shadow: 2px 2px 10px #aaa;
  min-height: 512px;
  max-height: 85vh;
}

div.ref,
div.copy {
  margin-top: 10px;
}


@media screen and (min-width: 800px) {  
  div.main {
    font-size: 0;
  }

  div.main > div {
    font-size: initial;
  }
}


@media screen and (max-width: 800px) {
  div.left,
  div.right {
    display: block;
    margin: auto;
    max-width: 512px;
    min-width: 512px;
    width: 512px;
  }

  div.left > div {
    text-align: center;
  }

  div.top > div {
    width: 256px;
  }

  div.middle,
  div.bottom {
    font-size: 0;
  }

  div.middle > div.middle,
  div.bottom > div.bottom {
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    width: 251px;
  }

  div.middle > div.middle:nth-child(1),
  div.bottom > div.bottom:nth-child(1) {
    padding-right: 5px;
  }

  div.middle > div.middle:nth-child(2),
  div.bottom > div.bottom:nth-child(2) {
    padding-left: 5px;
  }

  div.hidden {
    margin-bottom: 11px;
  }

  div.canvas {
    max-height: 512px;
  }
}


h1,
h2 {
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 5px #aaa;
}

h1 {
  font-size: 1.3em;
  margin-bottom: 15px;
}

h2 {
  margin-left: 12px;
  text-align: left;
}

button,
input,
label,
li,
p {
  font-size: 0.85em;
}

button,
input,
label,
label.toggle span {
  display: inline-block;
}

button {
  background-color: #efefef;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #aaa;
  color: inherit;
  height: 20px;
  margin-right: 11px;
  text-align: center;
  width: 65px;
}

button:hover {
  background-color: #e5e5e5;
  color: inherit;
  cursor: pointer;
}

button:active {
  background-color: #005cc8;
  color: #e5e5e5;
}

button.disabled,
button.disabled:hover,
button.disabled:active {
  background-color: #efefef;
  color: #aaa;
  cursor: default;
  opacity: 0.7;
}

input[type="text"] {
  text-align: right;
  width: 110px;
}

input[type="text"].disabled,
label.disabled {
  background-color: inherit;
  color: #aaa;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #efefef;
  border: 1px solid #aaa;
  border-radius: 4px;  
  color: inherit;
  cursor: pointer;
  height: 5px;
  width: 130px;
}

input[type="range"]:hover {
  background-color: #e5e5e5;
  color: inherit;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0075ff;
  border: 1px solid #aaa;
  border-radius: 50%;
  color: inherit;
  height: 17px;
  width: 17px; 
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: #0075ff;
  border: 1px solid #aaa;
  border-radius: 50%;
  color: inherit;
  height: 15px;
  width: 15px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color:#005cc8;
  color: inherit;
}

input[type="range"]::-moz-range-thumb:hover {
  background-color:#005cc8;
  color: inherit;
}

input[type="range"].disabled,
input[type="range"].disabled:hover {
  background-color: #aaa;
  color: inherit;
  opacity: 0.5;
  cursor: default;
}

input[type="range"].disabled::-webkit-slider-thumb {
  background-color: #aaa;
  color: inherit;
}

input[type="range"].disabled::-moz-range-thumb {
  background-color: #aaa;
  color: inherit;
}

label.title {
  font-weight: bold;
  margin-bottom: 5px;
}

div.control label:first-child {
  width: 90px;
}

div.bottom label:first-child {
  width: 90px;
}

label[for="normal-mapping"] {
  pointer-events: none;
}

label.toggle {
  pointer-events: auto;
  position: relative;
  height: 18px;
  margin-left: 20px;
  width: 41px;
}

label.toggle input {
  display: none;
}

label.toggle span {
  background-color: #efefef;
  border: 1px solid #aaa;
  border-radius: 34px;
  bottom: 0;
  color: inherit;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

label.toggle span:hover {
  background-color: #e5e5e5;
  color: inherit;
}

label.toggle span:before {
  background-color: #888;
  border: 1px solid #aaa;
  border-radius: 50%;
  bottom: 1px;
  color: inherit;
  content: "";
  height: 13px;
  left: 1px;
  position: absolute;
  transition: .2s;
  width: 13px;
}

label.toggle span:hover:before {
  background-color: #555;
  color: inherit;
}

input:checked + span {
  background-color: #efefef;
  color: inherit;
}

input:checked + span:hover {
  background-color: #e5e5e5;
  color: inherit;
}

input:checked + span:before {
  background-color: #0075ff;
  color: inherit;
  transform: translateX(22px);
}

input:checked + span:hover:before {
  background-color: #005cc8;
  color: inherit;
}

input.disabled + span {
  opacity: 0.5;
}

input.disabled + span,
input.disabled + span:hover {
  background-color: #aaa;
  color: inherit;
  cursor: default;
}

input.disabled + span:before,
input.disabled + span:hover:before {
  background-color: #aaa;
  color: inherit;
}

p {
  line-height: 140%;
  text-align: justify;
  text-indent: 12px;
  white-space: normal;
}

p.title {
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px #aaa;
}

p.info {
  background-color: inherit;
  color: blue;
}

p.error {
  background-color: inherit;
  color: red;
}

span.nowrap {
  white-space: nowrap;
}

ul {
  list-style-type:none;
}

li {
  margin-bottom: 3px;
  text-align: justify;
  white-space: normal;
}

a {
  background-color:inherit;
  color: #4a6dff;
  letter-spacing: 2px;
  vertical-align: top;
}

a,
a span {
  white-space: nowrap;
}

a span {
  margin-left: 5px;
  margin-right: 5px;
}

a,
a.return:hover {
  text-decoration:none;
}

a:hover,
a.return:hover span {
  text-decoration:underline;
}

canvas {
  box-shadow: 2px 2px 10px #aaa;
  cursor: grab;
  display: none;
  height: 85vh;
  max-height: 85vh;
  max-width: 70vw;
  min-height: 512px;
  min-width: 512px;
  width: 70vw;
}

hr {
  border-top: 1px solid #aaa;
  box-shadow: 2px 2px 10px #aaa;
  height: 1px;
  margin-bottom: 5px;
}


@media screen and (max-width: 800px) {
  canvas {
    height: 512px;
    max-height: 512px;
    max-width: 512px;
    width: 512px;
  }
}
